* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  background: dodgerblue;
  color: #fff;
  height: 100vh;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;

  select {
    margin-right: 1rem;
  }

  button {
    padding: .7rem 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  input {
    margin-left: .5rem;
  }

}

.flight-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.flight {
  padding: 1rem;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 80%;
}

.cities {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 2rem;

  div:first-child {
    margin: 0 1rem;
  }
}

.time {
  font-size: 1.2rem;
  padding: .5rem;
}

.price {
  padding: .5rem;
}

.stopovers {
  padding: .5rem;
}

.page {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

.prev {
  margin-right: 1rem;
}